/**
 * Styles for basic wysiwyg work (move image to right, left, etc).
 * Overwrite css or replace file to customize.
 */
.aligncenter,
img.aligncenter {
	clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft,
.alignright,
img.alignleft,
img.alignright {
  display: inline;
}

.alignleft,
img.alignleft {
	float: left;
  margin-right: 1.5em;
}

.alignnone,
img.alignnone {
	/* not sure about this one */
}

.alignright,
img.alignright {
	float: right;
  margin-left: 1.5em;
}

blockquote.left,
blockquote.right {
  width: 33%;
}

blockquote.left {
  float: left;
	margin-left: 0;
  margin-right: 20px;
	text-align: right;
}

blockquote.right {
  float: right;
	margin-left: 20px;
  margin-right: 0;
	text-align: left;
}

.entry-content img {
  margin: 0 0 1.5em 0;
}

.wp-caption {
	margin-bottom: 1.5em;
	padding-top: 5px;
  text-align: center;
}

.wp-caption img {
	border: 0 none;
  margin: 0;
	padding: 0;
}

.wp-caption p.wp-caption-text {
  font-size: 10px;
	line-height: 1.5;
	margin: 0;
}

.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}